.calendar {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
}

.day {
  background-color: #f9f9f9;
  border: 1px solid #333;
  height: 90px;
  width: 90px;
  vertical-align: top;
  padding: 5px;
}

.other-month {
  background-color: #f9f9f9;
}

.date-edit {
  display: flex;
  justify-content: space-between;
}

.date-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.faded {
  color: #ccc;
}

.current {
  background-color: #f9f9f9;
  // border: 1px solid #ffd54f;
}
