.calendar {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.day {
  background-color: #f9f9f9;
  border: 1px solid #333;
  height: 90px;
  width: 90px;
  vertical-align: top;
  padding: 4px;
}

.other-month {
  background-color: #f9f9f9;
}

.date-employees {
  display: flex;
}

.employee-list {
  padding-left: 8px;
}

.date-number {
  font-weight: bold;
}

.faded {
  color: #ccc;
}

.current {
  background-color: #f9f9f9;
}

.day-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.day-link:hover {
  background-color: rgba(0,0,0,0.05);
}

.day {
  position: relative;
}