.navbar-lewagon {
  justify-content: space-between;
  background: #f9f9f9;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-size: 30px;
  color: blue;
}

#navbarDropdown {
  font-size: 30px;
  color: blue;
}

.navbar-logo-name {
  display: flex;
  align-items: center;

  h2 {
    margin: 0;
  }
}